services:
  ProjectZomboidDedicatedServer:
    image: docker.io/danixu86/project-zomboid-dedicated-server:latest-unstable
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "16261:16261/udp"
      - "16262:16262/udp"
      - "27015:27015/tcp"
    volumes:
      # Server data
      - ./data:/home/steam/Zomboid
      # Workshop mods folder
      - ./workshop-mods:/home/steam/pz-dedicated/steamapps/workshop
    networks:
      - pz-net

  # playit tunnel agent
  playit:
    image: ghcr.io/playit-cloud/playit-agent:0.17
    restart: unless-stopped
    depends_on:
      - ProjectZomboidDedicatedServer
    environment:
      - SECRET_KEY=5e56c6cbf7609645ff00271fab97f835fc659fa125be91004044b210b12d6e5b
    networks:
      - pz-net

networks:
  pz-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
